extends layout

block accOpt
    block accOpt
    li
        a(href='/login') Already Have Account?


block A
    div(id='bodyDiv' class='body')
        div(id='formTopTitle')
            h(id='topTitle') Complete The Form To Create A New User
        
        div(id='contentDiv' class='contentHolder')

            form(id='form' method='POST' action='/create' autocomplete='off' onsubmit= 'return validate(event)')
                div(class='inputDiv')
                    h5(class='inputHeadding') Username
                    input(id='username' type='text' placeholder='username' name='username' autocomplete='off')
                    p(id='usernameError' class='error') &nbsp;
                    
                div(class='inputDiv')
                    h5(class='inputHeadding') Password
                    input(id='password' type="password" name='password' placeholder="- - - - - - - -" autocomplete="off")
                    p(id='passwordError' class='error') &nbsp;

                div(class='inputDiv')
                    h5(class='inputHeadding') Email
                    input(id='email' type='text' name='email' placeholder='name@name.com' autocomplete='off')
                    p(id='emailError' class='error') &nbsp;

                div(class='inputDiv')
                    h5(class='inputHeadding') Age
                    input(id='age' type="number" name='age' placeholder="-" autocomplete="off")
                    p(id='ageError' class='error') &nbsp;

                div(class='username-exists')
                    p #{UsernameExists}
                div.questions
                    each question, index in questions
                        div
                            p #{question.question}
                            each answer, aindex in question.answers
                                input(type="radio", id="question"+index+"-answer"+aindex, name="question"+index value=answer)
                                label(for="question"+index+"-answer"+aindex) #{answer}
                        input(type="text", name="obj-question"+index, value=JSON.stringify(question), readonly, hidden)
                div
                    p(id='submitError' class='error') &nbsp;
                    input(id='submitBtn' type='submit' value='REGISTER')

                a(id='loginLink' href='/login') Wait I Have An Account!